<div class="jumbotron center">
     <h1>Empieza a comprar ahora!</h1>
     <p>
       <%= link_to "Ingresar", "#", class: "btn btn-default btn-lg" %>
       <%= link_to "Regístrate", "#", class: "btn btn-primary btn-lg" %>
  </p>    
</div>